*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;  
}


#grid {
    width: 500px;
    height: 500px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-item {
    border: 1px solid #ddd;
}